@charset "utf-8";

/* body{ overflow-x:hidden;overflow-y:hidden; } */
/* スクロールバーを非表示にする--------------- */
body {
   height: 200px;
   overflow-y: auto;
}

body::-webkit-scrollbar {
   display: none;
}

/* -------------------------------------- */
img {
   margin: 0;
   padding: 0;
   vertical-align: bottom;
}

@font-face {
   font-family: 'Abel';
   src: url(../font/Abel/Abel-Regular.ttf);
}

* {
   /* font-family: 'Rajdhani', sans-serif; */
   font-family: 'Abel', sans-serif;
   /* font-family: 'Roboto', sans-serif; */
   /* font-family: 'Lato', sans-serif; */
   /* font-family:'Verdana'; */
   /* font-size:20px; */
   font-size: 30px;
   font-weight: lighter;
   color: black;
}

a {
   text-decoration: none;
   color: black;
}

body {
   background-color: white;
}

canvas {
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: 1;
}

.loading-cover {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   display: block;
   opacity: 1;
   background-color: white;
}

.container {
   display: flex;
   justify-content: center;
   width: 100%;
   /* height: 4000px; */
}

div {
   /*border: 1px solid red;*/
}

.left, .right {
   width: 100px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 2;
}

.num1, .num2, .num3, .num4, .num5, .num6, .num7, .num8 {
   z-index: 2;
   cursor: pointer;
}

.scroll-down {
   z-index: 2;
}

.left {
   position: fixed;
   top: 0;
   left: 0;
}

.right {
   position: fixed;
   top: 0;
   right: 0;
}

.center {
   width: calc(100vh - 200px);
   position: relative;
   height: 100vh;
}

.right {
   width: 100px;
   height: 100%;
}

.scroll-line {
   width: 1px;
   height: 20vh;
   background-color: rgb(213, 213, 213);
   position: relative;
   overflow: hidden;
}

.scroll-line::before {
   content: '';
   width: 2px;
   height: 20vh;
   background-color: rgb(94, 94, 94);
   position: absolute;
   top: -20vh;
   left: 0;
   -webkit-animation: arrow 2s ease 0s infinite normal;
   animation: arrow 2s ease 0s infinite normal;
}

@keyframes arrow {
   0% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
   }

   60% {
      -webkit-transform: translate3d(-50%, 20vh, 0);
      transform: translate3d(-50%, 20vh, 0);
   }

   100% {
      -webkit-transform: translate3d(-50%, 20vh, 0);
      transform: translate3d(-50%, 20vh, 0);
   }
}

.scroll-down {
   position: absolute;
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
   top: calc(50vh);
   /* left: calc(50% - 56px); verdana*/
   left: calc(50% - 63px);
   transform-origin: center;
}

.box-top {
   /* background-color: pink; */
   width: 100%;
   height: calc(50vh - 44px - 50px);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.scroll-margin {
   max-width: 100%;
   height: 56px;
}

.scroll-area {
   max-width: 100%;
   height: 113px;
}

.box-line-top {
   width: 100%;
   height: 55vh;
   display: flex;
   justify-content: center;
   /* align-items: center; */
   position: relative;
}

.box-line {
   width: 100%;
   height: 500px;
   display: flex;
   justify-content: center;
   position: relative;
   /* align-items: center; */
}

.thumbnail-right {
   position: absolute;
   bottom: -249px;
   left: 57%;
   cursor: pointer;
   z-index: 1;
}

.thumbnail-left {
   position: absolute;
   bottom: -249px;
   right: 57%;
   cursor: pointer;
   z-index: 1;
}

.line {
   width: 1px;
   height: 0%;
   background-color: rgb(94, 94, 94);
}

.box-margin {
   width: 100%;
   height: 30px;
   /* background-color: black; */
}

.number {
   display: flex;
   justify-content: center;
}

.about {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   /* background-image: url("../img/custom â€“ 2.png");
   background-size: cover; */
   z-index: 3;
}

.about-left {
   width: 50vw;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0.5);
   /* text-align: center; */
   backdrop-filter: blur(3px);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.about-left-inner-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* height: 80vh;
   width: 50vw;
   background-image: url(../img/about-content.png);
   object-position: center;
   object-fit: contain; */
}

.about-left-inner-left {
   width: 100px;
}

.about-left-inner-right {
   width: 100px;
}

.about-left h2 {
   text-align: center;
   font-size: 30px;
   /* color: #21D03C; */
   /* margin-bottom: 50px; */
}

.about-left img {
   width: 177px;
   height: auto;
   /* margin-bottom: 50px; */
}

.about-left p {
   font-size: 16px;
   padding-top: 60px;
   /* border-top: 1px solid black; */
   display: inline-block;
   text-align: center;
}

.about-right {
   width: 50vw;
   height: 100vh;
   background-color: black;
}

/* .about-left-line{
   background-color: black;
   width: 435px;
   height: 1px;
   margin: 0 auto 50px;
} */
.btn-about-white {
   color: white;
   cursor: pointer;
}

.btn-about {
   cursor: pointer;
}

.about .back {
   border: none;
   /* margin-left: 40px; */
   cursor: pointer;
   font-size: 20px;
   padding-top: 0;
}

#item .center {
   display: flex;
   justify-content: center;
   align-items: center;
   /* height: 100vh; */
}

#item canvas {
   z-index: -1;
   /* opacity: 1; */
}

#item .inner-left {
   cursor: pointer;
}

#item05 canvas {
   opacity: 0;
}

.under-line {
   width: 40px;
   height: 60px;
   border-bottom: 1px solid black;
}

.mbt60 {
   margin-bottom: 60px;
}

.pdr60 {
   margin-right: 60px;
}

.about-left .pdt30 {
   padding-top: 30px;
}

.about-left img.imgs120 {
   width: 120px;
   height: auto;
}

.about-left img.imgs150{
   width: 150px;
   height: auto;
}

.sample-img {
   width: 315px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#item .number{
	cursor: default;
}

.inner-left{
   width: 63px;
   height: 114px;
   overflow: hidden;
}
